html,body{
    margin: 0;
    padding: 0;
}


#footer1{
    margin: 50;
    padding: 0;
    text-align: center;
}

#nailservices{
    text-align: left;
    font-size:40px;
        
}

#chill{
        text-align: center;
        font-size:70px;

}


#nailinfo{
    text-align: left;
    font-size:50px;
        
}

#nailservices{
    text-align: left;
    font-size:30px;

}

#naildesign{
    text-align: left;
    font-size:40px;
    
}

#ladynails{
    text-align: left;
    font-size:20px;
    
}


/*
#nailprice{
    text-align:right;
    font-size:30px;
}
*/

body{
    
}

a:hover{
    color:#A9CCE3;
}

/* Navigatiion Styles*/

nav{
    background-color:#FFA07A;
    text-align: center;
    //float: right;
}

nav ul{
    list-style: none;

}
nav li{
    display:inline;
    
}

nav a{
    display: inline-grid;
    padding: 0px 90px;
    color:white;
    text-align: center;
    text-decoration:none;
    text-transform:none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;

}



h1,h2,h3{font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}






/*footer*/

footer{
    background-image: url(chillhousebackground.png) ;
    background-repeat:repeat;
    background-size: 250px 350px;

    
}